[tool.poetry]
name = "ndh"
version = "5.5.1"
description = "Nim's Django Helpers"
authors = ["Guilhem Saurel <guilhem.saurel@laas.fr>"]
license = "BSD-2-Clause"
readme = "README.md"
homepage = "https://github.com/nim65s/ndh"
repository = "https://github.com/nim65s/ndh.git"

[tool.poetry.dependencies]
python = "^3.8"
django-autoslug = "^1.9.8"
django-bootstrap5 = "^2.1.2"

[tool.poetry.dev-dependencies]
black = "^21.12b0"
coverage = {extras = ["toml"], version = "^6.3.2"}
django-stubs = "^1.9.0"
flake8 = "^3.9.2"
mypy = "^0.930"
myst-parser = "^0.15.1"
pre-commit = "^2.11.1"
pydocstyle = {extras = ["toml"], version = "^6.1.1"}
safety = "^1.10.3"
Sphinx = "^3.5.3"
types-setuptools = "^57.4.9"
types-toml = "^0.10.4"
pyupgrade = "^2.31.0"

[tool.coverage.run]
source = ["ndh"]
omit = ["*/migrations/*", "*/wsgi.py", "*/apps.py"]

[tool.django-stubs]
django_settings_module = "testproject.settings"

[tool.mypy]
plugins = ["mypy_django_plugin.main"]

[tool.pydocstyle]
ignore = "D203,D204"  # https://github.com/google/yapf/issues/744
match_dir = "(?=[^\\.])(?!migrations).*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
