[tool.poetry]
name = "ndh"
version = "3.12.1"
description = "Nim's Django Helpers"
authors = ["Guilhem Saurel <guilhem.saurel@laas.fr>"]
license = "BSD-2-Clause"
readme = "README.md"
homepage = "https://github.com/nim65s/ndh"
repository = "https://github.com/nim65s/ndh.git"

[tool.poetry.dependencies]
python = "^3.6.1"
django-autoslug = "^1.9.8"
django-bootstrap4 = "^2.3.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.9.0"
safety = "^1.10.3"
yapf = "^0.31.0"
mypy = "^0.812"
django-stubs = "^1.7.0"
pydocstyle = "^6.0.0"
pre-commit = "^2.11.1"
setuptools-scm = "^6.0.1"
Sphinx = "^3.5.3"
coverage = "^5.5"
myst-parser = "^0.15.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
