{% load django_bootstrap5 i18n %}

<form method="post" action="{{ ndh_form_action }}" class="form-horizontal" role="form">
  {% csrf_token %}
  {% bootstrap_form form layout="horizontal" %}
  <div class="d-flex align-items-center my-3">
    {% if continue_edit %}
    <button class="btn btn-success w-25 mx-auto py-3" type="submit">{% translate "Confirm" %}</button>
    <button class="btn btn-primary w-25 mx-auto py-3" type="submit" formaction="?continue_edit">{% translate "Confirm and Continue" %}</button>
    <a class="btn btn-danger w-25 mx-auto py-3" href="javascript:history.back()" role="button">{% translate "Cancel" %}</a>
    {% else %}
    {% bootstrap_button _("Confirm") button_class="btn-success" button_type="submit" extra_classes="w-25 mx-auto py-3" %}
    {% bootstrap_button _("Cancel") button_class="btn-danger" href="javascript:history.back()" extra_classes="w-25 mx-auto py-3" %}
    {% endif %}
  </div>
</form>
