{% extends 'ndh.html' %}
{% load ndh i18n %}

{% block pagetitle %}Test Page Title{% endblock %}
{% block sitetitle %}Test Site Title{% endblock %}

{% block navbarleft %}
{% navbar_item 'testapp:testmodels' _('List') %}
{% navbar_item 'testapp:testmodel-add' _('Create') %}
{% endblock %}

{% block content %}
<ul>
    <li>{% show_email email %}</li>
    <li>{% show_email email text="hey" %}</li>
    <li>{% show_email email email %}</li>
    <li>{% show_email email email text="hey" %}</li>
    <li>{% show_email email subject="hello" %}</li>
    <li>{% show_email email text="hey" subject="hello" %}</li>
    <li>{% show_email email email subject="hello" %}</li>
    <li>{% show_email email email text="hey" subject="hello" %}</li>
    <li>{% show_email user %}</li>
    <li>{% show_email user text="hey" %}</li>
    <li>{% show_email user email %}</li>
    <li>{% show_email user email text="hey" %}</li>
    <li>{% show_email user subject="hello" %}</li>
    <li>{% show_email user text="hey" subject="hello" %}</li>
    <li>{% show_email user email subject="hello" %}</li>
    <li>{% show_email user email text="hey" subject="hello" %}</li>
    <li>{% show_email users %}</li>
    <li>{% show_email users text="hey" %}</li>
    <li>{% show_email users subject="hello" %}</li>
    <li>{% show_email users text="hey" subject="hello" %}</li>
    <li>{% show_email users klass="btn" text="hey" subject="hello" %}</li>
    <li>{% show_phone phone %}</li>
</ul>
{% endblock %}
